@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 16%;
    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 63%;
    --primary: 12 86% 57%;
    --primary-foreground: 0 0% 100%;
  }
}
